:root {
    --primary-text-color: #000000;
    --title-text-color: #212121;
    --border-bottom: #ECECEC;
    --accent-color: #2196F3;
    --h-color-fon: #C4C4C4;
    --overlay-box: rgba(47, 48, 58, 0.8);
    --cover-color: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --text-color: #757575;
    --portfolo-main-color: #F5F5F5;
    --before-color: #FFFFFF;
    --btn-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --services-color: #F5F4FA;
    --footer-color: rgba(255, 255, 255, 0.6);
    --hero-btn-color: rgba(0, 0, 0, 0.15);
    --h1-color: #2F303A;
    --button-color: rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
        --clients-icon: #AFB1B8;
        --people-icon: rgba(255, 255, 255, 0.1);
        --portfolio-border: #EEEEEE;
        --shadow-nain: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
            /* modal */
            --modal-window: rgba(0, 0, 0, 0.2);
            --border-modal-btn: 1px solid rgba(0, 0, 0, 0.1);
            --border-px-fo: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            /* зминни */
            --idx-backdrop: 100;
            /* overflow-color */
            --overflow-color: rgba(33, 150, 243, 0.9);
            /* transition transform ms */
            --transfor-ms: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            /* modal menu */
            --mdal-menu-rgba: rgba(33, 33, 33, 0.2);
            --color-comentss: rgba(117, 117, 117, 0.5);
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    /* outline: 1px solid tomato; */
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--before-color);
    color: var(--title-text-color);
}
/* logo */
.logo {
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--primary-text-color);
}

/* header */

.link {
    text-decoration: none;
}
.studio,
.portfolio,
.web {
    color: var(--accent-color);
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
h1,
h2,
h3 {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
p {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.header {
    border-color: #ECECEC;
    background-color: var(--before-color);
}
.header-container {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
}
.two-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header-item:not(:last-child) {
    margin-right: 50px;  
}
.header-nav-link {
    display: block;
    padding: 32px 0;
    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-delay: 250ms; */
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--accent-color);
}
.icon-vector {
    margin-right: 10px;
    fill: var(--text-color);
    fill: currentColor;
}
.header-nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    opacity: 0;
    transform: scaleX(0.2);
    border-radius: 2px;
    background-color: var(--accent-color);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link.current {
    color: var(--accent-color);
}
.header-nav-link.current::after,
.header-nav-link:hover::after,
.header-nav-link:focus::after {
    opacity: 1;
    transform: scaleX(1);
}
/* header tel link */
.header-tel-link {
    display: block;
    display: flex;
    align-items: center;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel-link:hover,
.header-tel-link:focus {
    color: var(--accent-color);
}
/* mail.com */
.icon-envelope {
    margin-right: 10px;
    fill: var(--text-color);
    fill: currentColor;
}
.header-mail-link {
    display: flex;
    align-items: center;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em; 
    color: var(--text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail-link:hover,
.header-mail-link:focus  {
    color: var(--accent-color);
}

/* main */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero-title-btn {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--h-color-fon);
}
.hero-title-btn {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
    url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--before-color);
}

.hero-btn {
    padding: 10px 32px;
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--before-color);
    cursor: pointer;
}
.hero-btn {
    border-radius: 4px;
    border: var(--accent-color);

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px var(--hero-btn-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
    background: var(--btn-color);
}
/* modal window */
.beckdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--idx-backdrop);

    width: 100%;
    height: 100%;
    background-color: var(--modal-window);
    backdrop-filter: blur(2px);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity 150ms linear, visibility 150ms linear;
}
.beckdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 528px;
    min-height: 581px;
    background-color: var(--before-color);
    border-radius: 4px;
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: var(--border-modal-btn);
    background-color: transparent;

    cursor: pointer;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
    fill: var(--accent-color);
}
/* modal menu */
.modal-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    padding-left: 42px;


    width: 448px;
    height: 40px;
    left: 576px;
    top: 315px;
    
    border: 1px solid var(--mdal-menu-rgba);
    border-radius: 4px;
    cursor: pointer;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover + .form-icon {
    fill: var(--accent-color);
}
.form-input:hover,
.form-input:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}
.form-label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);

letter-spacing: 0.01em;

    color: var(--text-color);
}
.form-labelss {
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);


    letter-spacing: 0.01em;

    color: var(--text-color);
}
.form-email {
    resize: none;
    width: 448px;
    height: 120px;
    left: 576px;
    top: 519px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-email:hover,
.form-email:focus {
    border-color: var(--accent-color);
}
.form-field input {
    width: 100%;
}
.form-field {
    display: block;
    text-align: left;
    position: relative;
    margin-top: 10px;
}

.form-icon {
    position: absolute;
    bottom: 14px;
    left: 15px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn {
    padding: 0;
    cursor: pointer;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: inherit;
    border-radius: 4px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
    background-color: var(--btn-color);
}
.form-btngo {
    display: block;
    text-align: center;
    align-items: center;
    
    font-family: 'Roboto';
    font-style: normal;
    padding: 10px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
        
    letter-spacing: 0.06em;
    color: var(--before-color);
}
.form-email {
    padding: 12px 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    
    color: var(--color-comentss);
}
.form-label-ways {
    display: block;
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
.form-checkbox {
    appearance: none;
    
}
.form-checkbox-icon .unchecked {
    opacity: 1;
    transition: var(--transfor-ms);
    cursor: pointer;
}
.form-checkbox:checked + .form-checkbox-icon .unchecked {
    opacity: 0;
}
.form-checkbox-icon .checked {
    opacity: 0;
    transition: var(--transfor-ms);
    cursor: pointer;
}
.form-checkbox:checked + .form-checkbox-icon .checked {
    opacity: 1;
}
.form-checktext {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    
    letter-spacing: 0.03em;
    
    color: var(--text-color);
}
.form-checktext-blue {
    color: var(--accent-color);
}
/* section page */
.page-icons {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
     
    background: var(--services-color);
    border-radius: 4px;
}
.page-container {
    display: flex;
}
.page {
    padding-top: 94px;
    padding-bottom: 94px;
}

.page-first {
    display: flex;
    
}
.page-second:not(:last-child) {
    margin-right: 30px;
}
.second-box {
    flex-direction: column;
    flex-basis: 48%;
}
.page-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.page-text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--text-color);
}
/* section work */
.work-text {
    text-align: center;
    margin-bottom: 50px;
}
.hero-img {
    display: flex;
    align-items: center;
    gap: 30px;
}
.work {
    padding-bottom: 94px;
}
.work-about {
    display: block;
}
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.wrapper {
    position: relative;
}
.overlay-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    
    background: var(--overlay-box)
}

.overlay-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--before-color);
}
/* section services */

.services {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--services-color);
}
.services-work {
    text-align: center;
    margin-bottom: 50px;
}
.document {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.doc-img {
    display: block;
}
.services-before {
    display: flex;
    align-items: center;
    gap: 30px;
}


.services-cover {
    background: var(--before-color);
    box-shadow: var(--cover-color);
}
.services-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.services-text {
    margin-top: 10px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--text-color);
}
/* section icon services */
.application-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.people-icons {
    display: flex;
   
}
.people-services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
    width: 44px;
    height: 44px;
    fill: var(--clients-icon);
    background-color: var(--before-color);
    border-radius: 50%;

    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.people-services:hover .people-icons {
     fill: var(--before-color); 
}
.people-services:hover,
.people-services:focus {
    background-color: var(--accent-color);
    fill: var(--before-color);
}

/* new section svg */
.section-client {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--before-color);
}
.regular-clients {
    text-align: center;
    margin-bottom: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
}
.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.clients-link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--clients-icon);
    border-radius: 4px;
    color: var(--clients-icon);

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}
.clients-icon {
    fill: currentColor;
}
/* footer */
.footer-joins {
    display: flex;
    align-items: baseline;
}
.footer-secondjoins {
    margin-right: 70px;
}
.address {
    margin-top: 20px;
}
.logotype {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--before-color);
}
.footer-item:not(:last-child) {
    display: flex;
    display: block;
    margin-bottom: 9px;
}
.footer-map {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--before-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-map:hover,
.footer-map:focus {
    color: var(--accent-color);
}
.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--h1-color);
}
.footer-link {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--footer-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}
/* portfolio main */
.hero-link {
    display: block;
    

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-link:hover, 
.hero-link:focus {
    box-shadow: var(--shadow-nain);
}
.hero-link:focus .overflow {
    transform: translateY(0);
}
.section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-title {
    display: block;
}
.project-container {
    display: inline-block;
    display: flex;
}
.project-hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    gap: 30px;
    
}
/* text pisition contents "9" */
.team-thumb {
    position: relative;
    overflow: hidden;
}
.overflow {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(101%);

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    background-color: var(--overflow-color);
    transition: transform var(--transfor-ms)
}
.overflow-text {
    padding-left: 24px;
    padding-right: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    
    letter-spacing: 0.03em;
    color: var(--before-color);
}
.border-fhoto:hover .overflow {
    transform: translateY(0);
}
.project-portfolio {
    padding: 20px 24px;
    border-left: 1px solid var(--portfolio-border);
    border-right: 1px solid var(--portfolio-border);
    border-bottom: 1px solid var(--portfolio-border);

}
.project-title {
    display: block;
}
.first-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.second-title {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.button-container {
    display: block;
    display: flex;
}
.button-hero {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;

}
.button {  
    padding: 6px 22px;
    border-radius: 4px;
    border: var(--services-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--services-color);
    cursor: pointer;

    transition-property: color, box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    color: var(--before-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px var(--button-color);
}
/* footer icon */
join-go {
    display: flex;
    align-content: center;
    margin-left: 70px;
    width: 206px;
    height: 80px;
}
.join-ap {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(14 / 16);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    
    color: var(--before-color);
}
.applicat-icon {
    display: flex;
    gap: 10px;
    
}
.people-icon {
    display: flex;
   
}

.people-icon {
    border-radius: 50%;
    background: var(--people-icon);
}
.peopls-serv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
    width: 44px;
    height: 44px;
    fill: var(--before-color);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.peopls-serv:hover,
.peopls-serv:focus {
    background-color: var(--accent-color);
    fill: var(--before-color);
}
/* form-label-last */
.footer-lastmenu {
    margin-left: 93px;
}
.last-text {
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--before-color);
}
.email-footers {
    padding-left: 16px;

    width: 358px;
    height: 50px;
    background: var(--h1-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color:var(--before-color);
}
.last-label {
    padding-right: 12px;
}
.last-mail {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 50px;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
}
.black-btns {
    display: flex;
    justify-content: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);

   
    letter-spacing: 0.06em;

    color: var(--before-color);

}